@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
* {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  overflow: active;
}

.transition {
  transition: 0.5s ease-in-out;
  position: relative; /* or absolute, depending on your layout needs */
}

body {
  position: relative;
}

.rotate {
  transform: rotate(360deg);
}

.navbar {
  z-index: 3;
  padding-left: 48px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #05C15D;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.navbar i {
  display: none;
}
.navbar a {
  color: #ffffff;
}
.navbar a img {
  width: 120px;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}
.navbar .nav-links ul li {
  justify-content: end;
  list-style: none;
  margin: 0 25px;
}
.navbar .nav-links ul li a {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}
.navbar .nav-links ul li.active a {
  color: #a8cbad;
  margin: 0 25px;
  font-weight: 700;
}
.navbar .menu-hamburger {
  margin-top: 15px;
  color: #61C380;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 35px;
}

.mobile-menu {
  margin-left: 0;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    z-index: 2;
    background-color: #05C15D;
  }
  .navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 30px;
  }
  .navbar .logo a img {
    display: none;
    height: 70%;
  }
  .navbar .menu-hamburger {
    display: block;
    justify-content: end;
    padding-left: 50px;
  }
  .nav-links {
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(97, 195, 128, 0.2784313725);
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -100%;
    transition: all 0.3s ease;
  }
  .mobile-menu {
    margin-right: 0;
  }
  .navbar .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
  .navbar .nav-links ul li a {
    color: #202020;
  }
}
@media screen and (max-width: 768px) {
  .navbar .navbar {
    padding: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 15vh;
    z-index: 2;
    background-color: #05C15D;
  }
  .navbar .navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 30px;
  }
  .navbar .navbar .logo a img {
    display: none;
    height: 70%;
  }
  .navbar .navbar .menu-hamburger {
    display: block;
    justify-content: end;
    padding-left: 50px;
  }
  .navbar .nav-links {
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(97, 195, 128, 0.2784313725);
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -100%;
    transition: all 0.5s ease;
  }
  .navbar .mobile-menu {
    margin-right: 0;
  }
  .navbar .navbar .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
  .navbar .navbar .nav-links ul li a {
    color: #202020;
  }
  .navbar__logo img {
    width: 150px;
    object-fit: contain;
  }
}
.footer {
  background-color: #05C15D;
  width: 100%;
  display: flex;
  height: 270px;
  justify-content: space-around;
}
.footer__logo {
  padding-top: 55px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 74px;
}
.footer__logo--img a img {
  width: 120px;
  height: auto;
}
.footer__logo--email a {
  font-weight: medium;
}
.footer__routs {
  padding-left: 180px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
.footer__routs__links {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
.footer__routs__links li a {
  color: #fffeee;
}
.footer__routs__links__copy {
  color: #fff;
}
.footer__routs__ref {
  display: flex;
  color: #fff;
  margin-right: 2rem;
  margin-bottom: 0;
  list-style: none;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.footer__routs__ref--privacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__routs__ref--privacy a {
  font-size: 12px;
  padding-top: 15px;
  color: #ffffff;
  font-weight: 400;
}
.footer__routs__ref--privacy li {
  list-style: none;
}
.footer__routs__ref--privacy li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
}
.footer__routs__ref__items {
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
}
.footer__routs__ref__items li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.footer__routs__ref--copy a {
  color: #ffffff;
}
.footer__routs__items {
  justify-content: space-between;
  display: flex;
  color: #fff;
}
.footer__routs__items--item {
  text-decoration: none;
  margin-right: 2rem;
  margin-bottom: 0;
  list-style: none;
}
.footer__routs__items--item a {
  color: #fff;
  text-decoration: none;
}
.footer__socials {
  display: flex;
  margin-bottom: 74px;
  justify-content: flex-end;
  list-style: none;
  border-radius: 100px;
  align-items: center;
}
.footer__socials li {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}
.footer__socials li img {
  width: 60px;
  margin: 0 6px;
}
.footer__socials__copy {
  color: #fff;
}

/*

Bigger2Smaller
*/
@media screen and (max-width: 1440px) {
  .footer {
    background-color: #05C15D;
    height: 200px;
    align-items: center;
  }
  .footer__logo--img {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer__logo--img a img {
    width: 120px;
    height: 100%;
  }
  .footer__routs {
    margin-left: 149px;
    padding-left: 0;
  }
  .footer__routs__ref {
    margin-right: 0;
  }
  .footer__socials {
    display: flex;
  }
  .footer__socials li a img {
    height: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    background-color: #05C15D;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .footer__logo {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }
  .footer__routs {
    width: 100%;
    margin-left: 0px;
    padding-bottom: 25px;
  }
  .footer__socials {
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
.games__info {
  display: flex;
  align-items: center;
  background-color: rgb(244, 237, 237);
  text-align: center;
  justify-content: space-evenly;
}
.games__info--left {
  flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
}
.games__info--left h1 {
  color: #202020;
  text-align: center;
}
.games__info--left p {
  color: #202020;
  justify-content: center;
  text-align: start;
}
.games__info--left a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  text-align: center;
}
.games__info--right {
  justify-content: center;
  align-items: center;
}
.games__video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.games__platforms {
  display: flex;
  background-color: #ffffff;
  text-align: center;
  justify-content: space-evenly;
  padding: 5em 5em;
}
.games__platforms__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.games__platforms__left--text {
  flex-direction: column;
  justify-content: space-evenly;
}
.games__platforms__left--text h1 {
  color: #202020;
  text-align: center;
}
.games__platforms__left--text p {
  color: #202020;
  justify-content: center;
  text-align: end;
}
.games__platforms__left--text a {
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  text-align: center;
}
.games__platforms__left--stores {
  padding: 5em 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.games__platforms__left--stores-1 li {
  display: flex;
  justify-content: center;
  list-style: none;
}
.games__platforms__left--stores-1 li a img {
  height: 4em;
  width: 8em;
}
.games__platforms__left--stores-2 li {
  display: flex;
  justify-content: center;
  list-style: none;
}
.games__platforms__left--stores-2 li a img {
  height: 4em;
  width: 8em;
}
.games__platforms__right--img img {
  height: 38em;
  width: 20em;
}

@media screen and (max-width: 1024px) {
  .games__info {
    display: flex;
    align-items: center;
    background-color: rgb(244, 237, 237);
    text-align: center;
    justify-content: space-evenly;
  }
  .games__info--left {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
  }
  .games__info--left h1 {
    color: #202020;
    text-align: center;
  }
  .games__info--left p {
    color: #202020;
    justify-content: center;
    text-align: start;
  }
  .games__info--left a {
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
  .games__info--right {
    justify-content: center;
    align-items: center;
  }
  .games__video {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .games__platforms {
    display: flex;
    background-color: #ffffff;
    text-align: center;
    justify-content: space-evenly;
    padding: 5em 5em;
  }
  .games__platforms__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .games__platforms__left--text {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .games__platforms__left--text h1 {
    color: #202020;
    text-align: center;
  }
  .games__platforms__left--text p {
    color: #202020;
    justify-content: center;
    text-align: end;
  }
  .games__platforms__left--text a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
  .games__platforms__left--stores {
    padding: 5em 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .games__platforms__left--stores-1 li {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .games__platforms__left--stores-1 li a img {
    height: 4em;
    width: 8em;
  }
  .games__platforms__left--stores-2 li {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .games__platforms__left--stores-2 li a img {
    height: 4em;
    width: 8em;
  }
  .games__platforms__right--img img {
    height: 38em;
    width: 20em;
  }
}
@media screen and (max-width: 1023px) {
  .games__info {
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 237, 237);
    text-align: center;
    justify-content: center;
  }
  .games__info--left {
    flex-direction: column;
    justify-content: center;
    text-align: start;
  }
  .games__info--left h1 {
    color: #202020;
    text-align: center;
  }
  .games__info--left p {
    color: #202020;
    justify-content: center;
    text-align: start;
  }
  .games__info--left a {
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
  .games__info--right {
    justify-content: center;
    align-items: center;
  }
  .games__video {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .games__platforms {
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    padding: 10px 10px;
  }
  .games__platforms__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .games__platforms__left--text {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .games__platforms__left--text h1 {
    color: #202020;
    text-align: center;
  }
  .games__platforms__left--text p {
    color: #202020;
    justify-content: center;
    text-align: center;
  }
  .games__platforms__left--text a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
  .games__platforms__left--stores {
    padding: 5em 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .games__platforms__left--stores-1 li {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .games__platforms__left--stores-1 li a img {
    height: 4em;
    width: 8em;
  }
  .games__platforms__left--stores-2 li {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  .games__platforms__left--stores-2 li a img {
    height: 4em;
    width: 8em;
  }
  .games__platforms__right--img img {
    height: 38em;
    width: 20em;
  }
}
.main_hero {
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 100vh;
  background-color: #05C15D;
  padding-inline-start: 0;
}
.main_hero h1 {
  font-weight: 600;
  color: #ffffff;
  font-size: 228px;
  line-height: 180px;
  text-indent: 40px;
}
.main__info {
  border-bottom: rgba(5, 193, 9, 0.3) solid;
  background-color: #ffffff;
  height: 600px;
}
.main__info--text {
  background-color: #ffffff;
  padding-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}
.main__info--text h1 {
  background-color: #ffffff;
  padding-bottom: 23px;
  text-align: center;
  color: #202020;
  font-weight: bold;
}
.main__info--text p {
  background-color: #ffffff;
  color: #202020;
  width: 70%;
  justify-content: center;
  text-align: center;
  font-weight: regular;
  padding-bottom: 23px;
}
.main__info--text span {
  text-align: center;
  font-weight: 600;
}
.main__info--button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 10px;
  font-weight: 900;
}
.main__info--button a {
  color: #ffffff;
  border-radius: 50px;
  background-color: #05C15D;
  text-align: center;
  text-decoration: none;
  padding: 10px 50px;
}
.main__info--button a:hover {
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  background-color: #0A4436;
}
.main__careers--text {
  padding-top: 190px;
  background-color: #ffffff;
  display: flex;
  height: 600px;
  width: auto;
  flex-direction: column;
  align-items: center;
}
.main__careers--text h1 {
  background-color: #ffffff;
  color: #202020;
  font-weight: bold;
  padding-bottom: 23px;
}
.main__careers--text p {
  background-color: #ffffff;
  width: 40%;
  color: #202020;
  font-weight: regular;
  text-align: center;
}
.main__careers--text--button {
  margin: 5em 0;
  display: none;
}
.main__careers--text--button a {
  color: #a8cbad;
  font-weight: bold;
  border-radius: 50px;
  background-color: #05C15D;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}
.main__careers--text--button a:hover {
  color: #ffffee;
  border-radius: 50px;
  background-color: #0A4436;
  transition: ease-in-out;
  transition-property: color, background-color;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .main_hero h1 {
    width: 550px;
    text-indent: 0;
    padding-left: 20px;
    word-wrap: nowrap;
    text-align: start;
  }
  .main__info {
    padding: 0;
    height: 60vh;
    padding-top: 50px;
  }
  .main__info--text {
    background-color: #ffffff;
    padding-top: 100px;
  }
  .main__info--text p {
    width: 25rem;
  }
  .main__careers--text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0p;
  }
  .main__careers--text p {
    width: 25rem;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .main_hero h1 {
    width: 450px;
    font-size: 200px;
    text-indent: 0;
    padding-left: 2px;
    word-wrap: nowrap;
    text-align: start;
  }
}
@media screen and (max-width: 450px) {
  .main_hero h1 {
    width: 375px;
    font-size: 150px;
    text-indent: 0;
    padding-left: 2px;
    word-wrap: nowrap;
    text-align: start;
  }
  .main__info {
    width: auto;
    padding-top: 10px !important;
  }
  .main__info p {
    width: auto;
  }
  .main__careers--text p {
    width: 375px;
  }
}
@media screen and (max-width: 375px) {
  .main_hero h1 {
    width: 100%;
    font-size: 140px;
    text-indent: 0;
    padding-left: 2px;
    word-wrap: nowrap;
    text-align: start;
  }
  .main__info--text p {
    padding: 0;
  }
  .main__careers--text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0p;
  }
  .main__careers--text p {
    width: 300px;
  }
}
.positions {
  padding-top: 10vh;
  padding-bottom: 5vh;
}
.positions__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 3em;
}
.positions__title h1 {
  font-weight: 700;
}
.positions__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.positions__cards__card {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  width: 60vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 1em;
}
.positions__cards__card:hover {
  box-shadow: 2px 3px 4px 4px rgb(215, 214, 214);
}
.positions__cards__card--title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.positions__cards__card--title h3 {
  font-weight: 600;
  margin: 1em 1em;
}
.positions__cards__card--p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 5em;
}
.positions__cards__card--button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 10px;
  font-weight: 550;
}
.positions__cards__card--button a {
  color: #fff;
  border-radius: 50px;
  background-color: #05C15D;
  text-align: center;
  text-decoration: none;
  padding: 20px 50px;
}
.positions__cards__card--button a:hover {
  border-radius: 50px;
  background-color: #0A4436;
  transition: ease-in-out;
  transition-property: color, background-color;
}

@media screen and (max-width: 1200px) {
  .positions {
    background-color: #f5f5f5;
    padding: 10vh;
    padding-bottom: 5em;
  }
  .positions__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 3em;
    margin-top: 50px;
  }
  .positions__title h1 {
    font-weight: 700;
    font-size: 32px;
  }
  .positions__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .positions__cards__card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    width: 70vw;
    box-shadow: 2px 3px 4px 4px rgb(233, 231, 231);
    margin: 1em;
  }
  .positions__cards__card:hover {
    box-shadow: 2px 3px 4px 4px rgb(215, 214, 214);
  }
  .positions__cards__card--title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .positions__cards__card--title h3 {
    font-weight: 600;
    margin: 1em 1em;
    font-size: 22px;
  }
  .positions__cards__card--p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 5em;
  }
  .positions__cards__card--button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .positions__cards__card--button a {
    color: #fff;
    border-radius: 50px;
    background-color: #05C15D;
    text-align: center;
    text-decoration: none;
    padding: 10px 50px;
  }
  .positions__cards__card--button a:hover {
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    color: #05C15D;
    background-color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .positions {
    background-color: #f5f5f5;
    padding: 2vh;
    padding-bottom: 5em;
  }
  .positions__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 3em;
    margin-top: 150px;
  }
  .positions__title h1 {
    font-weight: 700;
    font-size: 32px;
  }
  .positions__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .positions__cards__card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    width: 100%;
    box-shadow: 2px 3px 4px 4px rgb(233, 231, 231);
    margin: 1em;
  }
  .positions__cards__card:hover {
    box-shadow: 2px 3px 4px 4px rgb(215, 214, 214);
  }
  .positions__cards__card--title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .positions__cards__card--title h3 {
    font-weight: 600;
    margin: 1em 1em;
    font-size: 18px;
  }
  .positions__cards__card--p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 5em;
  }
  .positions__cards__card--button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .positions__cards__card--button a {
    color: #fff;
    border-radius: 50px;
    background-color: #05C15D;
    text-align: center;
    text-decoration: none;
    padding: 5px 25px;
  }
  .positions__cards__card--button a:hover {
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    color: #05C15D;
    background-color: #fff;
  }
}
@media screen and (max-width: 376px) {
  .positions {
    background-color: #f5f5f5;
    padding: 15px;
    padding-bottom: 5em;
  }
  .positions__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 3em;
  }
  .positions__title h1 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
  }
  .positions__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .positions__cards__card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    width: 100%;
    box-shadow: 2px 3px 4px 4px rgb(233, 231, 231);
  }
  .positions__cards__card:hover {
    box-shadow: 2px 3px 4px 4px rgb(215, 214, 214);
  }
  .positions__cards__card--title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .positions__cards__card--title h3 {
    font-weight: 600;
    font-size: 18px;
  }
  .positions__cards__card--p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 5em;
  }
  .positions__cards__card--button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .positions__cards__card--button a {
    color: #fff;
    border-radius: 50px;
    background-color: #05C15D;
    text-align: center;
    text-decoration: none;
    padding: 5px 25px;
  }
  .positions__cards__card--button a:hover {
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    color: #05C15D;
    background-color: #fff;
  }
}
* {
  text-wrap: wrap;
  word-wrap: break-word;
  white-space: wrap;
}

.privacy {
  display: flex;
  padding: 200px;
  background-color: #ededed;
}
.privacy .sidebar {
  width: 20%;
  height: auto;
}
.privacy .sidebar_btns {
  display: flex;
  flex-direction: column;
}
.privacy .sidebar_btns a:last-child {
  color: #ffffff;
  background-color: #05C15D;
}
.privacy .sidebar_btns a:last-child img {
  scale: 2;
}
.privacy .sidebar_btns a {
  color: #0A4436;
  border-radius: 12px;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 12px 16px;
  width: 80%;
  margin-top: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.privacy .sidebar_btns a img {
  width: 15px;
}
.privacy .content {
  width: 75%;
}
.privacy .content__content__title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.privacy .content__content__title h2 {
  font-weight: 700;
}
.privacy .content__content--title {
  margin-bottom: 3em;
}
.privacy .content__content--title h5 {
  font-weight: 700;
}
.privacy .content__content--date h6 {
  font-weight: 700;
}
.privacy .content__content__main--subtitle h6 {
  margin: 2em 0;
  font-weight: 600;
}
.privacy .content__content__main--p p {
  font-weight: 400;
}
.privacy .content__content__main--p h6 {
  margin: 2em 0;
  font-weight: 700;
}
.privacy .content__content__main--p ul li {
  font-weight: 400;
}

.dropdown img {
  width: 40px;
  aspect-ratio: 1.4/1;
}

@media screen and (max-width: 1550px) {
  .privacy {
    display: flex;
    padding: 1em;
    background-color: #ededed;
    padding-top: 140px;
  }
  .privacy .sidebar {
    width: 30%;
  }
  .privacy .content {
    width: 70%;
  }
}
@media screen and (max-width: 991px) {
  .privacy {
    display: flex;
    padding-top: 15vh !important;
    background-color: #ededed;
    padding: 50px;
    flex-direction: column;
  }
  .privacy .sidebar {
    margin-bottom: 50px;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .privacy .sidebar_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
  }
  .privacy .sidebar_btns a:last-child img {
    scale: 2;
  }
  .privacy .sidebar_btns a {
    color: black;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;
    width: 80%;
    margin-top: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .privacy .sidebar_btns a img {
    width: 15px;
  }
  .privacy .content {
    width: 95%;
  }
  .privacy .content__content__title {
    display: flex;
    justify-content: flex-start;
    text-align: start;
  }
  .privacy .content__content__title h2 {
    font-weight: 700;
  }
  .privacy .content__content--title {
    margin-bottom: 3em;
  }
  .privacy .content__content--title h5 {
    font-weight: 700;
  }
  .privacy .content__content--date h6 {
    font-weight: 700;
  }
  .privacy .content__content__main {
    justify-content: center;
    align-items: center;
  }
  .privacy .content__content__main--subtitle h6 {
    justify-content: center;
    margin: 2em 0;
    font-weight: 600;
  }
  .privacy .content__content__main--p p {
    justify-content: center;
    font-weight: 400;
  }
  .privacy .content__content__main--p h6 {
    justify-content: center;
    margin: 2em 0;
    font-weight: 700;
  }
  .privacy .content__content__main--p ul {
    justify-content: center;
  }
  .privacy .content__content__main--p ul li {
    font-weight: 400;
  }
}
* {
  text-wrap: wrap;
  word-wrap: break-word;
  white-space: wrap;
}

.terms {
  display: flex;
  padding: 200px;
  background-color: #ededed;
}
.terms .sidebar {
  width: 20%;
  height: auto;
}
.terms .sidebar_btns {
  display: flex;
  flex-direction: column;
}
.terms .sidebar_btns a:first-child {
  color: #ffffff;
  background-color: #05C15D;
}
.terms .sidebar_btns a:first-child img {
  scale: 2;
}
.terms .sidebar_btns a {
  color: #0A4436;
  border-radius: 12px;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 12px 16px;
  width: 80%;
  margin-top: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.terms .sidebar_btns a img {
  width: 15px;
}
.terms .content {
  width: 75%;
}
.terms .content__content__title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.terms .content__content__title h2 {
  font-weight: 700;
}
.terms .content__content--title {
  margin-bottom: 3em;
}
.terms .content__content--title h5 {
  font-weight: 700;
}
.terms .content__content--date h6 {
  font-weight: 700;
}
.terms .content__content__main--subtitle h6 {
  margin: 2em 0;
  font-weight: 600;
}
.terms .content__content__main--p p {
  font-weight: 400;
}
.terms .content__content__main--p h6 {
  margin: 2em 0;
  font-weight: 700;
}
.terms .content__content__main--p ul li {
  font-weight: 400;
}

.dropdown img {
  width: 40px;
  aspect-ratio: 1.4/1;
}

@media screen and (max-width: 1550px) {
  .terms {
    display: flex;
    padding: 1em;
    background-color: #ededed;
    padding-top: 140px;
  }
  .terms .sidebar {
    width: 30%;
  }
  .terms .content {
    width: 70%;
  }
}
@media screen and (max-width: 991px) {
  .terms {
    display: flex;
    padding-top: 15vh !important;
    background-color: #ededed;
    padding: 50px;
    flex-direction: column;
  }
  .terms .sidebar {
    margin-bottom: 50px;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .terms .sidebar_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
  }
  .terms .sidebar_btns a:first-child img {
    scale: 2;
  }
  .terms .sidebar_btns a {
    color: black;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;
    width: 80%;
    margin-top: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .terms .sidebar_btns a img {
    width: 15px;
  }
  .terms .content {
    width: 95%;
  }
  .terms .content__content__title {
    display: flex;
    justify-content: flex-start;
    text-align: start;
  }
  .terms .content__content__title h2 {
    font-weight: 700;
  }
  .terms .content__content--title {
    margin-bottom: 3em;
  }
  .terms .content__content--title h5 {
    font-weight: 700;
  }
  .terms .content__content--date h6 {
    font-weight: 700;
  }
  .terms .content__content__main {
    justify-content: center;
    align-items: center;
  }
  .terms .content__content__main--subtitle h6 {
    justify-content: center;
    margin: 2em 0;
    font-weight: 600;
  }
  .terms .content__content__main--p p {
    justify-content: center;
    font-weight: 400;
  }
  .terms .content__content__main--p h6 {
    justify-content: center;
    margin: 2em 0;
    font-weight: 700;
  }
  .terms .content__content__main--p ul {
    justify-content: center;
  }
  .terms .content__content__main--p ul li {
    font-weight: 400;
  }
}
.apply {
  padding: 5vh;
}
.apply__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em 20em;
}
.apply__content--title {
  margin-bottom: 3em;
}
.apply__content--title h5 {
  font-weight: 700;
}
.apply__content--date h6 {
  font-weight: 700;
}
.apply__content__main--subtitle h6 {
  margin: 2em 0;
  font-weight: 600;
}
.apply__content__main--p p {
  font-weight: 400;
}
.apply__content__main--p h6 {
  margin: 2em 0;
  font-weight: 700;
}
.apply__content__main--p ul li {
  font-weight: 400;
}
.apply__content__main--button {
  display: flex;
  justify-content: center;
  margin: 5em 0;
}
.apply__content__main--button a {
  color: #ffffff;
  border-radius: 50px;
  background-color: #0A4436;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}
.apply__content__main--button a:hover {
  border-radius: 50px;
  background-color: #0A4436;
  transition: ease-in-out;
  transition-property: color, background-color;
}

@media screen and (max-width: 768px) {
  .apply__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em 2em;
  }
  .apply__content--title {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }
  .apply__content--title h5 {
    font-weight: 700;
  }
  .apply__content--date {
    display: flex;
    justify-content: center;
  }
  .apply__content--date h6 {
    font-weight: 700;
  }
  .apply__content__main--subtitle h6 {
    display: flex;
    justify-content: center;
    margin: 2em 0;
    font-weight: 600;
  }
  .apply__content__main--p p {
    font-weight: 400;
  }
  .apply__content__main--p h6 {
    margin: 2em 0;
    font-weight: 700;
  }
  .apply__content__main--p ul li {
    font-weight: 400;
  }
  .apply__content__main--button {
    display: flex;
  }
  .apply__content__main--button a {
    color: #ffffff;
    border-radius: 50px;
    background-color: #05C15D;
    text-align: center;
    text-decoration: none;
    padding: 20px;
  }
  .apply__content__main--button a:hover {
    color: green;
    border-radius: 50px;
    background-color: #0A4436;
    transition: ease-in-out;
    transition-property: color, #ffffff;
  }
}
.empty {
  background-color: #05C15D;
  min-height: 80vh;
}
.empty__title h1 {
  padding-left: 40px;
  font-weight: 600;
  font-size: 250px;
  color: #ffffff;
}
.empty__message {
  padding-left: 40px;
  padding-bottom: 40px;
}
.empty__message h2 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 10px;
}
.empty__message p {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
