$primary-color: #05C15D;
$secondary-color: #a8cbad;
$page-background-color: rgb(1, 42, 1);
$background-color-1: #ffffee;
$background-color-2: #f5f5f5;
$p-color: #202020;
$h1-color: #202020;
$button-text-color: #fffeee;
$button-background-color: #ffffff;
$button-background-color-2: #f5f5f5;
