$primary-color: #50A55B;
$secondary-color: #a8cbad;
$page-background-color: rgb(1, 42, 1);
$background-color-1: #ffffee;
$background-color-2: #fff;
$p-color: black;
$h1-color: black;
$button-text-color: #fff;
$button-background-color: #a8cbad;
$button-background-color-2: #3c7f45;
