$primary-color: #50A55B;
$secondary-color: #fff;
$background-color-1: rgb(245,245,245);
$background-color-2: #fff;
$p-color: black;
$h1-color: black;
$button-text-color: #fff;
$button-background-color: #3c7f45;