@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  background-color: #2e2ee6;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0em 4em;
}
.header__logo {
  color: #fff;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo a {
  display: flex;
  text-decoration: none;
}
.header__links {
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style: none;
  margin-right: 2rem;
  margin-bottom: 0;
}
.header__links--item {
  font-weight: 800;
}
.header__links--item a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}
.header__links--item a:hover {
  border-radius: 50px;
  background-color: #2f149b;
  transition: ease-in-out;
  transition-property: color, background-color;
}

.footer {
  background-color: #2e2ee6;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em 2em;
}
.footer__logo--img {
  width: 200px;
  height: 100%;
}
.footer__logo--email a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}
.footer__routs {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer__routs__ref {
  display: flex;
  color: #fff;
  margin-right: 2rem;
  margin-bottom: 0;
  list-style: none;
}
.footer__routs__ref__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.footer__routs__ref__items--item {
  justify-content: center;
  align-items: center;
}
.footer__routs__ref__items--item a {
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}
.footer__routs__items {
  justify-content: space-between;
  display: flex;
  color: #fff;
}
.footer__routs__items--item {
  text-decoration: none;
  margin-right: 2rem;
  margin-bottom: 0;
  list-style: none;
}
.footer__routs__items--item a {
  color: #fff;
  text-decoration: none;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border: #fff;
  border-radius: 100px;
  align-items: center;
}
.footer__socials li {
  display: flex;
  justify-content: space-around;
  height: 5em;
  width: 10em;
  margin-right: 2rem;
  margin-bottom: 0;
}
.footer__socials li a {
  justify-content: space-between;
  color: #fff;
  list-style: none;
  margin: 0 6px;
}
.footer__socials li a i {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 14px;
}
.footer__socials__copy {
  color: #fff;
}

.games {
  display: none;
}
.games__info--left {
  display: flex;
}
.games__info--right {
  display: flex;
}
.games__platforms {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
