@import "variables.scss";
@import "font.scss";
@import "base";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

.header
{
  background-color: $primary-color;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  &__logo
  {
    color: $secondary-color;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a
    {
      display: flex;
      text-decoration: none;
    }
  }
  
  &__links
  {
    justify-content: space-around;
    align-items: center;
    display: flex;
    list-style: none;
    margin-right: 2rem;
    margin-bottom: 0;

    &--item
    {
      font-weight: 800;
      a
      {
        &:hover
        {
          border-radius: 50px;
          background-color: #2f149b;
          transition: ease-in-out;
          transition-property: color,background-color;
        }
        color: $secondary-color;
        text-align: center;
        text-decoration: none;
        padding: 20px;
      }
    }

  }

}

.main
{
  display: flex;

  &__content
  {
    &__info
    {
      &--text
      {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 20em;
        width: 100%;
        h2{
          text-align: center;
          font-weight: 800;
        }
        p{
          color: $p-color;
          text-align: center;
          font-weight: 400;
        }
        span{
          text-align: center;
          font-weight: 600;
        }
      }
    }

    &__platforms
    {
      display: flex;
      background-color: rgb(244, 237, 237);
      text-align: center;
      justify-content: space-evenly;
      padding: 5em 5em;
      &__left
      {
        display: flex;
        justify-content: center;
        align-items: center;
        &--text
        {
          flex-direction: column;
          justify-content: space-evenly;
          h1{
            color: $h1-color;
            text-align: center;
          }
          p{
            color: $p-color;
            justify-content: center;
            text-align: end;
          }
          a
          {
            font-weight: 600;
            text-decoration: none;
            color: inherit;
            text-align: center;
          }
        }
        &--stores
          {
            padding: 5em 5em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            &-1
            {
              li{
                display: flex;
                justify-content: center;
                list-style: none;
                a{
                  img{
                    height: 4em;
                    width: 8em;
                  }
                }
              }
            }

            &-2
            {
              li{
                display: flex;
                justify-content: center;
                list-style: none;
                a{
                  img{
                    height: 4em;
                    width: 8em;
                  }
                }
              }
            }
          }
      }
      &__right
      {
        &--img
        {
          img{
            height: 38em;
            width: 20em;
          }
        }
      }


    }
    &__career
    {
      display: flex;
      justify-content: space-around;
      padding-top: 50px;
      padding-bottom: 50px;
      &__left
      {
        img{
          display: flex;
          height: 467px;
          width: 526px;
        }
      }
      &__right
      {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1{
          color: $h1-color;
          font-weight: 500;
        }
        p{
          color: $p-color;
          text-align: center;
        }
        &--button
        {
          margin: 5em 0;
          a{
            &:hover
            {
              border-radius: 50px;
              background-color: #2f149b;
              transition: ease-in-out;
              transition-property: color,background-color;
            }
            color: $secondary-color;
            border-radius: 50px;
            background-color: $primary-color;
            text-align: center;
            text-decoration: none;
            padding: 20px;
          }
        }
      }
    }
  }

}
.footer
{
  background-color: $primary-color;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  &__logo
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em 2em;
    &--img{
      width: 200px;
      height: 100%;
    }
    &--email
    {
      a{
        color: $secondary-color;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
  &__routs{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    &__items{
        justify-content: space-between;
        display: flex;
        color: #fff;
        
        &--item
        {
          text-decoration: none;
          margin-right: 2rem;
          margin-bottom: 0;
          list-style: none;
          a
          {
            color: #fff;
            text-decoration: none;
          }
        }
      }
  }
  &__ref
  {
    display: table-row;
    color: #fff;
    margin-right: 2rem;
    margin-bottom: 0;
    list-style: none;
    text-decoration: none;
    a{
      font-weight: 100;
      text-decoration: none;
      color: #fff;
    }
  }

  &__socials
  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border: #fff;
    border-radius: 100px;
    align-items: center;
    li
    {
      display: flex;
      justify-content: space-around;
      height: 5em;
      width: 10em;
      margin-right: 2rem;
      margin-bottom: 0;
      a
      {
        justify-content: space-between;
        color: #fff;
        list-style: none;
        margin: 0 6px;
        i{
          align-items: center;
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 14px;

        }
      }
    }
    &__copy
    { 
      color: #fff;
    }
  }

}