.apply
{
    &__content
    {
        margin-top: 3em;
        &--title
        {
            margin-bottom: 3em;
            h5{
                font-weight: 700;
            }

        }
        &--date
        {
            h6{
                font-weight: 700;
            }
        }
        &__main
        {
            &--subtitle
            {
                h6{
                    margin: 2em 0;
                    font-weight: 600;
                }
            }
            &--p
            {
                p{
                    font-weight: 400;
                }
                h6{
                    margin: 2em 0;
                    font-weight: 700; 
                }
                ul{
                    li{
                        font-weight: 400;
                    }
                }
            }
        }
    }
}