.positions
{
    background-color: #f5f5f5;
    padding:10vh;
    padding-bottom: 5em;
        &__title
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3em 3em;
            h1{
                font-weight: 700;
            }
        }
        &__cards
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            &__card
            {
                display: flex;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                background-color: $background-color-1;
                border-radius: 30px;
                width: 50vw;
                box-shadow: 2px 3px 4px 4px rgb(233, 231, 231);
                margin: 1em;
                &:hover
                {
                    box-shadow: 2px 3px 4px 4px rgb(215, 214, 214);
                }
                &--title
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h3{
                        font-weight: 600;
                        margin: 1em 1em;
                    }
                }
                &--p
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1em 5em;
                }
                &--button
                {  
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 15px 10px;
                    font-weight: 900;
                    text-transform: uppercase;
                    
                    a{
                        &:hover
                        {
                            border-radius: 50px;
                            transition: 0.3s ease-in-out;
                            color: $primary-color;
                            background-color: #fff;
                       
                           
                        }
                    color:#fff;;
                    border-radius: 50px;
                    background-color: $primary-color;
                    text-align: center;
                    text-decoration: none;
                    padding: 10px 50px;
                    }
                }
            }
        }
    
}

