.main {


  &_hero{
    display: flex;
    justify-content: end;
    flex-direction: column;
    height:100vh;
    background-color: #05C15D;
    padding-inline-start: 0;
    h1{
      font-weight: 600;
      color: #ffffff;
      font-size: 228px;
      line-height: 180px;
      text-indent: 40px;
    }
  }
  &__info {
    border-bottom: rgba(5,193,9,0.3) solid;
    background-color: #ffffff;
    height: 600px;
    &--text {
      background-color: #ffffff;
      padding-top: 190px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 80%;
      h1 {
        background-color: #ffffff;
        padding-bottom: 23px;
        text-align: center;
        color: $h1-color;
        font-weight: bold;
      }

      p {
        background-color: #ffffff;
        color: $p-color;
        width: 70%;
        justify-content: center;
        text-align: center;
        font-weight: regular;
        padding-bottom: 23px;
      }

      span {
        text-align: center;
        font-weight: 600;
      }
    }
    &--button
    {  
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 10px;
        font-weight: 900;
        a{
            &:hover
            {
                border-radius: 50px;
                transition: 0.3s ease-in-out;
                color: $button-text-color;
                background-color: $button-background-color-2;
            }
        color:#ffffff;
        border-radius: 50px;
        background-color: $primary-color;
        text-align: center;
        text-decoration: none;
        padding: 10px 50px;
        }
    }
  }


  &__careers {
    &--text {
      padding-top: 190px;
      background-color: #ffffff;
      display: flex;
      height: 600px;
      width: auto;
      flex-direction: column;
      align-items: center;
      h1 {
        background-color: #ffffff;
        color: $h1-color;
        font-weight: bold;
        padding-bottom: 23px;
      }

      p {
        background-color: #ffffff;
        width: 40%;
        color: $p-color;
        font-weight: regular;
        text-align: center;
      }

      &--button {
        margin: 5em 0;
        display: none;
        a {
          &:hover {
            color: #ffffee;
            border-radius: 50px;
            background-color: $button-background-color;
            transition: ease-in-out;
            transition-property: color, background-color;
            font-weight: bold;
          }

          color: $secondary-color;
          font-weight: bold;
          border-radius: 50px;
          background-color: $primary-color;
          text-align: center;
          text-decoration: none;
          padding: 20px;
        }
      }
    }
  }

}
@media screen and (max-width: 900px){
  .main
  {
    &_hero
    {
      
      h1{
        width: 550px;
        text-indent: 0;
        padding-left: 20px;
        word-wrap: nowrap;
        text-align: start;
      }
    }
    &__info 
    {
      padding: 0;
      height: 60vh;
      padding-top: 50px;
      &--text {
        background-color: #ffffff;
        padding-top: 100px;
        p
        {
          width: 25rem;
        }
      }
    }
    &__careers--text
    {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 0p;
      p{
        width: 25rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {

    .main {
      padding: 0;
    }

}
@media screen and (max-width: 600px) {
.main
{
  &_hero
  {
    h1{
      width: 450px;
      font-size: 200px;
      text-indent: 0;
      padding-left: 2px;
      word-wrap: nowrap;
      text-align: start;
    }
  }

}
}

@media screen and (max-width: 450px) {
  .main
  {
    &_hero
    {
      h1{
        width: 375px;
        font-size: 150px;
        text-indent: 0;
        padding-left: 2px;
        word-wrap: nowrap;
        text-align: start;
      }
    }
    &__info
    {
      width: auto;
            padding-top: 10px !important;
      p
      {
        width: auto;
      }
    }
    &__careers--text{
      p
      {
        width: 375px;
      }
    }
  
  }
  }
@media screen and (max-width: 375px) {
    .main
    {
      &_hero
      {
        h1{
          width: 100%;
          font-size: 140px;
          text-indent: 0;
          padding-left: 2px;
          word-wrap: nowrap;
          text-align: start;
        }
      }
      &__info 
      {
        &--text {
          p
          {
            padding: 0;
          }
        }
      }
      &__careers--text
      {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0p;
        p{
          width: 300px;
        }
      }
    
    }
}