*{
    text-wrap: wrap;
    word-wrap: break-word;
    white-space: wrap;
    h5{
        color: $h1-color;
    }
    p{
        color: $p-color;
    }
}
.privacy
{
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #ededed;
     
        .content
        {
            width: 75%;
            padding-right: 15vh;
            padding-bottom: 10vh;
            &__content
            {
              
                &--title
                {
                    padding-top: 10px;
                    margin-bottom: 3em;
                    h5{
                        color: $h1-color;
                        font-size: 30px;
                        font-weight: 600;
                    }
        
                }
                &--date
                {
                    h6{
                        color: $h1-color;
                        font-weight: 600;
                        padding-bottom: 35px;
                    }
                }
                &__main
                {
                    &--subtitle
                    {
                        h6{
                            color: $h1-color;
                            margin: 2em 0;
                            font-weight: 700;
                        }
                    }
                    &--p
                    {
                        p{
                            color: $p-color;
                            font-weight: 400;
                        }
                        h6{
                            color: $h1-color;
                            margin: 2em 0;
                            font-weight: 700; 
                        }
                        ul{
                            li{
                                color: $p-color;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }   

}
.dropdown{
    img{
        width: 40px;
        aspect-ratio: 1.4/1;
    }
}

@media screen and (max-width:1550px) {
    .privacy
    {
        display: flex;
        padding: 1em;
        background-color: #ededed;
        padding-top: 200px;
            .content
            {
                padding-right: 15vh;
                width: 70%;
            }   

    }
}

@media screen and (max-width:991px) {
    .privacy
    {
        display: flex;
        padding-top: 18vh !important;
        background-color: #ededed;
        padding:50px; 
        flex-direction: column;
     
        .content
        {
            width: 95%;
            padding-right: 10px !important;
            &__content
            {
                &__title
                {
                    display: flex;
                    justify-content: flex-start;
                    text-align: start;
                    h2{
                        font-weight: 600;
                    }
                }
              
                &--title
                {
                    margin-bottom: 3em;
                    h5{
                        font-weight: 600;
                    }
        
                }
                &--date
                {
                    h6{
                        font-weight: 600;
                    }
                }
                &__main
                {
                    justify-content: center;
                    align-items: center;
                    &--subtitle
                    {
                        h6{
                            justify-content: center;
                            margin: 2em 0;
                            font-weight: 700;
                        }
                    }
                    &--p
                    {
                        p{
                            justify-content: center;
                            font-weight: 400;
                        }
                        h6{
                            justify-content: center;
                            margin: 2em 0;
                            font-weight: 700; 
                        }
                        ul{
                            justify-content: center;
                            li{
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }  
         

    }
}
@media screen and (max-width:400px) {
    .privacy
    {
        display: flex;
        padding-top: 18vh !important;
        background-color: #ededed;
        padding:50px;
        flex-direction: column;
        .content
        {
            width: 95%;
            padding-right: 5px;
            &__content
            {
                &__title
                {
                    display: flex;
                    justify-content: flex-start;
                    text-align: start;
                    h2{
                        font-weight: 600;
                    }
                }
              
                &--title
                {
                    margin-bottom: 3em;
                    h5{
                        font-weight: 600;
                    }
        
                }
                &--date
                {
                    h6{
                        font-weight: 600;
                    }
                }
                &__main
                {
                    justify-content: center;
                    align-items: center;
                    &--subtitle
                    {
                        h6{
                            justify-content: center;
                            margin: 2em 0;
                            font-weight: 600;
                        }
                    }
                    &--p
                    {
                        p{
                            justify-content: center;
                            font-weight: 400;
                        }
                        h6{
                            justify-content: center;
                            margin: 2em 0;
                            font-weight: 700; 
                        }
                        ul{
                            justify-content: center;
                            li{
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }  
    }
}