*{
    text-wrap: wrap;
    word-wrap: break-word;
    white-space: wrap;
}
.terms
{
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #ededed;
        .download{
            
            a{
                &:hover
                {
                    border-radius: 12px;
                    transition: 0.3s ease-in-out;
                    color: $button-text-color;
                    background-color: $button-background-color-2;
                }
                color: $button-background-color;
                border-radius: 12px;
                background-color: #ffffff;
                text-align: center;
                text-decoration: none;
                padding: 12px 16px;
                width: 80%;
                margin-top:12px;
            }
        }
        .content
        {
            width: 75%;
            padding-right: 10vh;
            &__content
            {
                &--title
                {
                    padding-top: 10px;
                    margin-bottom: 3em;
                    h5{
                        color: $h1-color;
                        font-size: 30px;
                        font-weight: 600;
                    }
                }
              
                &--title
                {
                    padding-top: 10px;
                    margin-bottom: 3em;
                    h5{
                        font-weight: 700;
                        word-spacing: 2px;
                    }
        
                }
                &--date
                {
                    h6{
                        color: $h1-color;
                        font-weight: 600;
                        padding-bottom: 35px;
                    }
                }
                &__main
                {
                    &--subtitle
                    {
                        h6{
                            margin: 2em 0;
                            font-weight: 600;
                        }
                    }
                    &--p
                    {
                        p{
                            font-weight: 400;
                        }
                        h6{
                            margin: 2em 0;
                            font-weight: 700; 
                        }
                        ul{
                            li{
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }   

}
.dropdown{
    img{
        width: 40px;
        aspect-ratio: 1.4/1;
    }
}

@media screen and (max-width:1550px) {
    .terms
    {
        display: flex;
        padding: 1em;
        background-color: #ededed;
        padding-top: 200px;

          
            .content
            {
                width: 70%;
            }   

    }
}

@media screen and (max-width:991px) {
    .terms
    {
        display: flex;
        padding-top: 18vh !important;
        background-color: #ededed;
        padding:50px;
        flex-direction: column;
        .content
        {
            width: 95%;
            padding-right: 0;
            &__content
            {
                &__title
                {
                    display: flex;
                    justify-content: flex-start;
                    text-align: start;
                    h2{
                        font-weight: 700;
                    }
                }
              
                &--title
                {
                    margin-bottom: 3em;
                    h5{
                        font-weight: 700;
                    }
        
                }
                &--date
                {
                    h6{
                        font-weight: 700;
                    }
                }
                &__main
                {
                    justify-content: center;
                    align-items: center;
                    &--subtitle
                    {
                        h6{
                            justify-content: center;
                            margin: 2em 0;
                            font-weight: 600;
                        }
                    }
                    &--p
                    {
                        p{
                            justify-content: center;
                            font-weight: 400;
                        }
                        h6{
                            justify-content: center;
                            margin: 2em 0;
                            font-weight: 700; 
                        }
                        ul{
                            justify-content: center;
                            li{
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }  
         

    }
}
@media screen and (max-width:400px) {
    .terms
    {
        display: flex;
        padding-top: 18vh !important;
        background-color: #ededed;
        padding:50px;
        flex-direction: column;
      
        .content
        {
            width: 95%;

            &__content
            {
                padding-right: 0 !important;
                &__title
                {
                    display: flex;
                    justify-content: flex-start;
                    text-align: start;
                    h2{
                        font-weight: 700;
                    }
                }
              
                &--title
                {
                    margin-bottom: 3em;
                    h5{
                        font-weight: 700;
                    }
        
                }
                &--date
                {
                    h6{
                        font-weight: 700;
                    }
                }
                &__main
                {
                    justify-content: center;
                    align-items: center;
                    &--subtitle
                    {
                        h6{
                            justify-content: center;
                            margin: 2em 0;
                            font-weight: 600;
                        }
                    }
                    &--p
                    {
                        p{
                            justify-content: center;
                            font-weight: 400;
                        }
                        h6{
                            justify-content: center;
                            margin: 2em 0;
                            font-weight: 700; 
                        }
                        ul{
                            justify-content: center;
                            li{
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }  
         

    }
}
