
.footer
{
  background-color: $primary-color;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;

    &__logo
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 2em 5em;
      &--img{
        width: 200px;
        height: 100%;
      }
      &--email
      {
        a{
          color: $secondary-color;
          font-weight: 300;
          text-decoration: none;
        }
      }
    }

    &__routs{
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      &__ref
      {
        display: flex;
        color: #fff;
        margin-right: 2rem;
        margin-bottom: 0;
        list-style: none;
        
        &__items
        {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          list-style: none;
          &--item{
              justify-content: center;
              align-items: center;
              a{
                font-weight: 100;
                text-decoration: none;
                color: #fff;
              }
        }
    
        } 
      }
      
      &__items{
          justify-content: space-between;
          display: flex;
          color: #fff;
          
          
          &--item
          {
            text-decoration: none;
            margin-right: 2rem;
            margin-bottom: 0;
            list-style: none;
            a
            {
              color: #fff;
              text-decoration: none;
            }
          }
        }
    }
  

    &__socials
    {
      display: flex;
      
      justify-content: space-between;
      list-style: none;
      border: #fff;
      border-radius: 100px;
      align-items: center;
      li
      {
        display: flex;
        justify-content: space-around;
        margin-right: 2rem;
        margin-bottom: 0;
        a{
          color: #fff;
          list-style: none;
          margin: 0 6px;
          border-radius: 50%;
          border: 1px solid #fff;
          width:60px;
          height: 60px;;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          i{
            font-size:32px;
          }
        }
      }
      &__copy
      { 
        color: #fff;
      }
    
  }
}
/*

Bigger2Smaller
*/

//1440-1024px
@media screen and (max-width:1440px) {
  
  .footer
  {
    background-color: $primary-color;
    height: 200px;
    padding: 1em 1em;
    align-items: center;
    &__logo{
      margin: 0 1;
      &--img{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__routs{
      flex-direction: column;
    }

    &__socials{
      display: flex;
      li{
        a
        {
          img{
            height: 60px
          }
        }
      };
    }
  }
}

@media screen and (max-width:1024px) {
  .footer
  {
    background-color: $primary-color;
    flex-direction: column;
    padding:0;
    align-items: center;
    height: auto;
    &__logo{
      margin:15px 0;
    }

    &__routs{
      margin:15px 0;
    }

    &__socials{
      padding:0;
    }
  
  }
}