.header
{
  position: relative;
  background-color: $primary-color;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0em 4em;
  &__logo
  {
    color: $secondary-color;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a
    {
      display: flex;
      text-decoration: none;
    }
  }
  
  &__links
  {
    justify-content: space-around;
    align-items: center;
    display: flex;
    list-style: none;
    margin-right: 2rem;
    margin-bottom: 0;

    &--item
    {
      font-weight: 800;
      a
      {
        &:hover
        {
          border-radius: 50px;
          background-color: #2f149b;
          transition: ease-in-out;
          transition-property: color,background-color;
        }
        color: $secondary-color;
        text-align: center;
        text-decoration: none;
        padding: 20px;
      }
    }

  }

}
