body{
  position: relative;
}
.rotate
{
  transform: rotate(360deg);
}
.navbar
{
  z-index: 3;
  padding-left: 48px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #05C15D;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  i
  {
    display: none;
  }
  a{
    color: #ffffff;
    img
    {
      width: 120px;
    }
  }
  & .nav-links
  {
    display: flex;
    align-items: center;
    justify-content: center;
    ul
    {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0;
      li
      {
        justify-content: end;
        list-style: none;
        a{
          display: flex;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 1px;
          color: #ffffff;
        }
        margin: 0 25px;
        &.active a
        {
          color: $secondary-color;
          margin: 0 25px;
          font-weight: 700;
        }
      }
    }
  }
  .menu-hamburger
  {
    margin-top:15px;
    color:#61C380;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
  }
}
.mobile-menu
{
  margin-left: 0;
}
@media screen and (max-width: 900px){
  .navbar{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    z-index: 2;
    background-color: $primary-color;
    & .logo
    {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 40px;
      left: 30px;
      a{
        img{
          display: none;
          height: 70%;
        }
      }
    }

    & .menu-hamburger{
      display: block;
      justify-content: end;
      padding-left: 50px;
    }
  }
  .nav-links{
    top: 0;
    right: 0;
    position: absolute;
    background-color:#61c38047;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -100%;
    transition: all 0.3s ease;
  }
  .mobile-menu
  {
    margin-right: 0;
  }
  .navbar .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    li
    {
      margin: 25px 0;
      font-size: 1.2em;
      a{
        color: $p-color;
      }
    }
  }

}


@media screen and (max-width: 768px){

  .navbar {
    .navbar{
      padding: 0;
      display: none;
      justify-content: center;
      align-items: center;
      height: 15vh;
      z-index: 2;
      background-color: $primary-color;
      & .logo
      {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40px;
        left: 30px;
        a{
          img{
            display: none;
            height: 70%;
          }
        }
      }
  
      & .menu-hamburger{
        display: block;
        justify-content: end;
        padding-left: 50px;
      }
    }
    .nav-links{
      top: 0;
      right: 0;
      position: absolute;
      background-color:#61c38047;
      font-weight: bold;
      letter-spacing: 1px;
      color: #ffffff;
      backdrop-filter: blur(15px);
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -100%;
      transition: all 0.5s ease;
    }
    .mobile-menu
    {
      margin-right: 0;
    }
    .navbar .nav-links ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      li
      {
        margin: 25px 0;
        font-size: 1.2em;
        a{
          color: $p-color;
        }
      }
    }
  
    &__logo img{
      width:150px;
      object-fit: contain;
    }
  }
}